patches
release
.svn
.cvsignore
*~
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/install-sh
/build-aux/missing
/build-aux/tap-driver.sh
/config.log
/config.status
/configure
/ddclient
/ddclient-*.tar.gz
/ddclient.conf
/t/*.log
/t/*.trs
/t/version.pl
/test-suite.log
