[Unit]
Description=Dynamic DNS Update Client
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ddclient.pid
ExecStart=/usr/bin/ddclient

[Install]
WantedBy=multi-user.target
