[Unit]
Description=Dynamic DNS Update Client
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=exec
ExecStart=/usr/bin/ddclient --daemon 5m --foreground
Restart=on-failure

[Install]
WantedBy=multi-user.target
