[Unit]
Description=Dynamic DNS Update Client
After=network.target network-online.target

[Service]
Type=forking
PIDFile=/run/ddclient.pid
ExecStart=/usr/bin/ddclient

[Install]
WantedBy=multi-user.target
