name: CI
on:
  push:
  pull_request:

jobs:
  test-debian-like:
    strategy:
      matrix:
        image:
          - ubuntu:latest
          - ubuntu:20.04
          - debian:testing
          - debian:stable
          - debian:oldstable
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - name: install dependencies
        run: |
          apt-get update &&
          DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends \
              automake \
              ca-certificates \
              git \
              curl \
              libhttp-daemon-perl \
              libhttp-daemon-ssl-perl \
              libplack-perl \
              libtest-mockmodule-perl \
              libtest-tcp-perl \
              libtest-warnings-perl \
              liburi-perl \
              net-tools \
              make \
              ;
      - uses: actions/checkout@v2
      - name: autogen
        run: ./autogen
      - name: configure
        run: ./configure
      - name: check
        run: make VERBOSE=1 AM_COLOR_TESTS=always check
      - name: distcheck
        run: make VERBOSE=1 AM_COLOR_TESTS=always distcheck
      - name: distribution tarball is complete
        run: ./.github/workflows/scripts/dist-tarball-check

  test-fedora:
    strategy:
      matrix:
        image:
          - fedora:39
          - fedora:latest
          - fedora:rawhide
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: |
          dnf --refresh install -y \
              automake \
              findutils \
              make \
              curl \
              perl \
              perl-HTTP-Daemon \
              perl-HTTP-Daemon-SSL \
              perl-IO-Socket-INET6 \
              perl-Plack \
              perl-Test-MockModule \
              perl-Test-TCP \
              perl-Test-Warnings \
              net-tools \
              ;
      - name: autogen
        run: ./autogen
      - name: configure
        run: ./configure
      - name: check
        run: make VERBOSE=1 AM_COLOR_TESTS=always check
      - name: distcheck
        run: make VERBOSE=1 AM_COLOR_TESTS=always distcheck

  test-redhat-ubi7:
    runs-on: ubuntu-latest
    # we use redhats univeral base image which is not available on docker hub
    # https://catalog.redhat.com/software/containers/ubi7/ubi/5c3592dcd70cc534b3a37814
    container: registry.access.redhat.com/ubi7/ubi
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: |
          yum install -y \
              automake \
              make \
              perl-HTTP-Daemon \
              perl-IO-Socket-INET6 \
              perl-core \
              iproute \
              ;
      - name: autogen
        run: ./autogen
      - name: configure
        run: ./configure
      - name: check
        run: make VERBOSE=1 AM_COLOR_TESTS=always check
      - name: distcheck
        run: make VERBOSE=1 AM_COLOR_TESTS=always distcheck
