---
name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test-debian-like:
    strategy:
      matrix:
        image:
          - ubuntu:latest
          - ubuntu:16.04
          - debian:testing
          - debian:stable
          - debian:oldstable
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - name: install dependencies
        run: |
          apt-get update &&
          DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends \
              automake \
              libtest-warnings-perl \
              make \
              ;
      - uses: actions/checkout@v2
      - name: autogen
        run: ./autogen
      - name: configure
        run: ./configure
      - name: check
        run: make VERBOSE=1 check
      - name: distcheck
        run: make VERBOSE=1 distcheck

  test-centos6:
    runs-on: ubuntu-latest
    container: centos:6
    steps:
      - uses: actions/checkout@v1
      - name: install dependencies
        run: yum install -y automake perl-Test-Simple
      - name: autogen
        run: ./autogen
      - name: configure
        run: ./configure
      - name: check
        run: make VERBOSE=1 check
      - name: distcheck
        run: make VERBOSE=1 distcheck

  test-centos8:
    runs-on: ubuntu-latest
    container: centos:8
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: dnf --enablerepo=PowerTools install -y perl-version automake make perl-Test-Warnings
      - name: autogen
        run: ./autogen
      - name: configure
        run: ./configure
      - name: check
        run: make VERBOSE=1 check
      - name: distcheck
        run: make VERBOSE=1 distcheck

  test-fedora:
    runs-on: ubuntu-latest
    container: fedora
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: dnf install -y perl-version automake make perl-Test-Warnings
      - name: autogen
        run: ./autogen
      - name: configure
        run: ./configure
      - name: check
        run: make VERBOSE=1 check
      - name: distcheck
        run: make VERBOSE=1 distcheck

  test-redhat:
    runs-on: ubuntu-latest
    # we use redhats univeral base image which is not available on docker hub
    # https://catalog.redhat.com/software/containers/ubi7/ubi/5c3592dcd70cc534b3a37814
    container: registry.access.redhat.com/ubi7/ubi
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: yum install -y perl-version automake make perl-Test-Simple
      - name: autogen
        run: ./autogen
      - name: configure
        run: ./configure
      - name: check
        run: make VERBOSE=1 check
      - name: distcheck
        run: make VERBOSE=1 distcheck
